/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    gap: 30px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header *****/
.entete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 0;
}

.logo {
    width: 61px;
    height: 19px;
    padding: 30px 50px 30px 0;
}

.navigateur {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 68px;
    list-style: none;
}

.element-navigateur {
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
}

.element-navigateur:hover {
    color: var(--main-color);
    border-top: 1px solid var(--main-color);
}

/****** Formulaire ******/
.formulaire-recherche {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.formulaire-recherche-form {
    display: flex;
    flex-direction: row;
}

.formulaire-recherche-form-location {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
}

.formulaire-recherche-form-location-img {
    width: 14px;
    height: 18px;
    padding: 15px 18px;
}

.formulaire-recherche-form-input {
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    text-align: center;
}

.formulaire-recherche-form-rechercher {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 16px 15px 16px;
}

.formulaire-recherche-form-loupe {
    display: none;
}

/****** Filtres ******/
.formulaire-recherche-filtres {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 17px;
    font-weight: 700;
}

.formulaire-recherche-filtres-boutons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.formulaire-recherche-filtres-bouton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 4px 19px 4px 19px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: white;
}

.formulaire-recherche-filtres-bouton:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.formulaire-recherche-filtres-bouton-img {
    width: 22px;
    height: 22px;
}

/****** Infos ******/
.formulaire-recherche-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.formulaire-recherche-info-img {
    width: 24px;
    height: 24px;
}

/****** Main ******/
main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    background-color: var(--main-bg-color);
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hebergements-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.hebergements-card .card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 7px;
}

.hebergements-card .card img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-card .card-content {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    gap: 8px;
}

.hebergements-card .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements-card .card-title, .card-subtitle, .card-rating {
    padding: 0;
    margin: 0;
}

.hebergements-afficher-plus {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ******/
.activites {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activites-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.activites-cards .card {
    padding: 0;
}

.activites-cards .card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.activites-cards .card .card-title {
    margin: 0;
    padding: 20px 19px;
}

/****** Footer ******/
footer {
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.div-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.div-footer h3 {
    margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Filtres ******/
    .formulaire-recherche-filtres {
        flex-direction: column;
        gap: 20px;
    }

    .formulaire-recherche-filtres-titre {
        margin: 0;
        padding: 0;
    }

    .formulaire-recherche-filtres-bouton {
        padding: 14px 19px;
    }

    /****** Hébergements And Populaires ******/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    /****** Hébergements ******/
    .hebergements {
        width: 100%;
    }

    /****** populaire ******/
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /****** Activités ******/
    .activites-cards .card img {
        height: 200px;
    }

    .activites-cards .card-content {
        height: 70px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        padding: 0;
    }

    .main-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    /****** Header ******/
    .entete {
        flex-direction: column;
        padding: 0 20px;
    }

    .logo {
        align-self: center;
        padding: 30px;
    }

    .navigateur {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 0;
    }

    .element-navigateur {
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
    }

    .element-navigateur:hover {
        border-bottom: 1px solid var(--main-color);
        border-top: none;
    }

    /******* Formulaire ******/
    .formulaire-recherche {
        padding: 0 20px;
    }

    .formulaire-recherche-titre {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .formulaire-recherche-form-input {
        width: 100%;
    }

    .formulaire-recherche-form-rechercher {
        display: none;
    }

    .formulaire-recherche-form-loupe {
        border-radius: 15px;
        background-color: var(--main-color);
        display: block;
        border: none;
        padding: 15px 16px;
    }

    .formulaire-recherche-form-loupe-img {
        width: 17px;
        height: 17px;
    }

    /****** Filtres ******/
    .formulaire-recherche-filtres-boutons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .formulaire-recherche-filtres-bouton {
        font-size: 14px;
        height: 50px;
    }

    /****** Hébergements and populaire ******/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 20px;
    }

    /****** Populaire ******/
    .populaires {
        margin: 0;
        width: 100%;
        padding: 30px 20px;
    }

    .populaires-title {
        padding-bottom: 15px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        margin : 0;
    }

    /****** Hébergement ******/
    .hebergements {
        background-color: white;
        gap: 15px;
    }

    .hebergements-card {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    /****** Activités ******/
    .activites-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .activites-cards img {
        height: 141px;
    }

    /****** Footer ******/
    footer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

    .div-footer {
        padding: 0;
    }
}