/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header *****/
.entete {
    padding: 0;
    margin: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
}

.logo {
    width: 64px;
    height: 20px;
    align-self: center;
}

.navigateur {
    padding: 0;
    margin: 0;
    top: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.element-navigateur {
    align-self: flex-start;
    margin-left: 50px;
    padding-top: 20px;
}

.element-navigateur:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    cursor: pointer;
}

/****** Formulaire ******/
.formulaire-recherche-form {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.formulaire-recherche-form-location {
    background-color: var(--main-bg-color);
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    display: inline-block;
}

.formulaire-recherche-form-location-img {
    padding: 15px;
    width: 17px;
    height: 23px;
}

.formulaire-recherche-form-input {
    padding: 10px;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.formulaire-recherche-form-rechercher {
    background-color: var(--main-color);
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    display: inline-block;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.formulaire-recherche-form-loupe {
    display: none;
}

.formulaire-recherche-filtres {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.formulaire-recherche-filtres-liste {
    list-style: none;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.formulaire-recherche-filtres-titre {
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
}

.formulaire-recherche-filtres-bouton {
    margin-left: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: 3px solid var(--main-bg-color);
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.formulaire-recherche-filtres-bouton-img {
    padding-right: 10px;
    width: 22px;
    height: 22px;
}

.formulaire-recherche-filtres-bouton:hover {
    background-color: var(--filter-bg-color);
}

.formulaire-recherche-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
}

.formulaire-recherche-info-img {
    width: 22px;
    height: 22px;
    padding-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements .section-title {
    padding-left: 15px;
    padding-bottom: 15px;
}

.hebergements-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.hebergements-card img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-card .card-content {
    padding-left: 15px;
    padding-bottom: 10px;
}

.hebergements-afficher-plus {
    margin-top: 30px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 20px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ******/

.activites {
    width: 94%;
    margin: 30px auto;
}

.activites-cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.activites-cards .card {
    padding: 0;
    height: 410px;
}

.activites-cards img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    padding-left: 15px;
    padding-bottom: 5px;
}

/****** Footer ******/

footer {
    margin-top: 75px;
    background-color: var(--main-bg-color);
    padding: 30px;
    padding-right: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer h3 {
    margin: 0;
    padding: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    padding-top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        height: 220px;
    }

    .activites-cards .card {
        height: 300px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .main-container {
        padding: 0;
    }

    /****** Header ******/

    .entete {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .logo {
        margin: 30px 15px auto;
    }

    .navigateur {
        width: 100%;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .element-navigateur {
        margin: 0;
        padding-bottom: 20px;
        text-align: center;
        border-bottom: 2px solid var(--main-bg-color);
    }
    
    .element-navigateur:hover{
        color: #0065FC;
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        cursor: pointer;
    }

    /****** Formulaire ******/
    .formulaire-recherche {
        padding: 0 20px;
    }

    .formulaire-recherche-form {
        margin-top: 30px;
    }
    
    .formulaire-recherche-form-input {
        padding: 0;
    }

    .formulaire-recherche-form-location {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .formulaire-recherche-form-location-img {
        padding: 10px;
        width: 12px;
        height: 16px;
    }

    .formulaire-recherche-form-loupe {
        background-color: var(--main-color);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .formulaire-recherche-form-loupe-img {
        width: 14px;
        height: 14px;
    }

    .formulaire-recherche-form-rechercher {
        display: none;
    }

    .formulaire-recherche-filtres {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    
    .formulaire-recherche-filtres-liste {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        margin: 0;
    }
    
    .formulaire-recherche-filtres-titre {
        font-size: 16px;
        font-weight: bold;
        margin-top: 30px;
    }
    
    .formulaire-recherche-filtres-bouton {
        margin: 0;
        margin-bottom: 20px;
        padding: 15px;
        font-size: 14px;
    }
    
    .formulaire-recherche-info {
        padding-bottom: 0;
    }


    /****** Hébergements + Populaire ******/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    /****** Populaire ******/
    .hebergements-and-populaires .populaires {
        padding: 10px;
        margin-bottom: 30px;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards .card {
        display: flex;
        margin-top: 33px;
    }
    
    .populaires-cards a {
        width: 100%;
    }
    

    /****** Hébergements ******/

    .hebergements-and-populaires .hebergements {
        background-color: white;
        padding: 0;
    }

    .hebergements-card {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .hebergements-card .card {
        margin: 15px;
    }

    /****** Activités ******/
    .activites {
        width: 85%;
        margin: 10px auto;
    }
    
    .activites-cards {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    
    .activites-cards .card {
        padding: 0;
        height: 250px;
    }
    
    .activites-cards img {
        width: 100%;
        height: 190px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .activites-cards .card-content {
        padding-left: 15px;
        padding-bottom: 5px;
    }

    /****** Footer ******/
    footer {
        flex-direction: column;
        gap: 40px;
    }
}