/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --mwidth: 1440px;
}

.fa-solid {
    color: var(--main-color);
}

.flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.f-wrap {
    flex-wrap: wrap;
}

.jc-ctr {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.mgn-auto {
    margin: auto;
}

.mgn-0 {
    margin: 0;
}

.mgn-b0 {
    margin-bottom: 0;
}

.pdn-0 {
    padding: 0;
}

.g8 {
    gap: 8px;
}

.g10 {
    gap: 10px;
}

.g15 {
    gap: 15px;
}

.g30 {
    gap: 30px;
}

.g35 {
    gap: 35px;
}

.g40 {
    gap: 40px;
}

.curs-p {
    cursor: pointer;
}

.algni-ctr {
    align-items: center;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

body {
    max-width: var(--mwidth);
    padding: 0 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.form-txt {
    font-size: 18px;
    font-weight: 700;
}

.nav-txt {
    font-size: 16px;
    font-weight: 400;
}

.filtre-txt {
    font-size: 17px;
    font-weight: 700;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.bg-mc {
    background-color: var(--main-bg-color);
}

/****** Header *****/
#logo {
    width: 61px;
    height: 19px;
    padding: 30px 50px 30px 0;
}

header #navigateur {
    gap: 68px;
    list-style: none;
}

.elmnt-nav {
    padding-top: 16px;
}

.elmnt-nav:hover {
    color: var(--main-color);
    border-top: 1px solid var(--main-color);
}

/****** Formulaire ******/
#location {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid var(--main-bg-color);
}

#location img {
    width: 14px;
    height: 18px;
    padding: 15px 18px;
}

#input {
    border: none;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    text-align: center;
}

#rechercher {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 15px 16px 15px 16px;
}

#loupe {
    display: none;
}

/****** Filtres ******/

.bouton {
    padding: 4px 19px 4px 19px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: white;
}

.bouton:hover {
    background-color: var(--filter-bg-color);
}

.bouton img {
    width: 22px;
    height: 22px;
}

/****** Infos ******/
#info img {
    width: 24px;
    height: 24px;
}

/****** Hebergements And Populaires ***********/
#h-and-p section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
}

#hebergements .card {
    width: calc(33% - 30px);
}

#hebergements .card img {
    height: 10vh;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#hebergements .card-content {
    margin: 0 15px 5px 15px;
}

#hebergements .card-txt {
    margin-top: 8px;
}

#hebergements .card-rating {
    justify-self: flex-end;
}

/****** Populaires ***********/
#populaires {
    width: 32%;
}

#populaires-cards .card {
    margin-top: 33px;
}

#populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    box-sizing: border-box;
}

#populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

#populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ******/
#activites {
    padding: 30px;
    margin-bottom: 30px;
}

#activites .card {
    padding: 0;
    width: calc(25% - 30px);
}

#activites .card img {
    height: 40vh;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#activites h3 {
    margin: 0;
}

#activites .card-title {
    padding: 20px 19px;
    flex-grow: 1;
}

/****** Footer ******/
.div-footer {
    width: 33%;
    padding: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /****** Formulaire ******/
    #formulaire-recherche {
        gap: 20px;
    }
    #filtres {
        flex-direction: column;
        gap: 0;
    }
    .bouton {
        padding: 15px;
    }

    /****** Hebergements And Populaires ******/
    #h-and-p {
        flex-direction: column;
        gap: 30px;
    }

    /***** Hébergements ******/
    #hebergements {
        width: 100%;
    }

    /****** Populaires ******/
    #populaires {
        width: 100%;
    }

    #populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    #populaires a {
        width: calc(33.33% - 15px);
    }

    #populaires .card {
        width: 100%;
    }

    /****** Activités ******/
    #activites .card img {
        height: 20vh;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        padding: 0;
    }

    /****** Header ******/
    header {
        flex-direction: column !important;
        align-items: center;
    }

    #logo {
        padding: 20px 0;
    }

    header nav {
        width: 100%;
    }

    header #navigateur {
        gap: 0;
        padding: 0;
        width: 100%;
    }

    .elmnt-nav {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }

    .elmnt-nav:hover {
        border-top: none;
        border-bottom: 1px solid var(--main-color);
    }

    /****** Formulaire ******/
    #formulaire-recherche {
        padding: 0 20px;
    }

    #location img {
        width: 10px;
        height: 14px;
        padding: 10px 10px;
    }

    #input {
        padding: 0;
    }

    #rechercher {
        display: none;
    }

    #loupe {
        display: block;
        background-color: var(--main-color);
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    #loupe img {
        width: 16px;
        height: 16px;
        padding: 5px;
    }

    /*** Filtres ***/
    #boutons {
        flex-wrap: wrap;
    }

    .bouton {
        font-size: 14px;
    }

    /****** Hébergements and Populaires ******/
    #h-and-p {
        flex-direction: column-reverse;
    }

    /****** Populaires ******/
    #populaires {
        border-radius: 0 !important;
        padding: 20px !important;
    }

    #populaires-cards {
        flex-direction: column;
        gap: 0;
    }

    #populaires-cards a {
        width: calc(100% - 10px);
    }

    /****** Hébergements ******/
    #hebergements {
        background-color: white !important;
    }

    #hebergements-cards {
        flex-direction: column;
    }

    #hebergements .card {
        width: calc(100% - 10px);
    }

    #hebergements .card img {
        height: 20vh;
    }

    /****** Activités ******/
    #activites-cards {
        flex-direction: column;
    }

    #activites .card {
        width: 100%;
    }

    /****** Footer ******/
    footer nav {
        flex-direction: column;
    }

    .div-footer {width: 100%;}
}

@media (max-width: 460px) {
    #activites .card img {
        height: 15vh;
    }

    #hebergements .card img {
        height: 10vh;
    }
}

@media (max-width: 350px) {
    /****** Formulaire ******/
    #input {
        width: 100%;
    }

    /*** Filtres ***/
    .bouton {
        width: calc(50% - 15px);
        padding: 8px;
        font-size: 12px;
    }

    .bouton img {
        width: 16px;
        height: 16px;
    }
}